form {
  font-family: "Comic Sans MS", "Lucida Handwriting", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: cornflowerblue;
}

form label {
  position: relative;
  left: 0;
}