body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.divStyles {
    background-color: cornflowerblue;
    min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.errorMessage {
    color: red;
    background-color: rgb(256, 0, 0, 0.2);
    padding: 5px;
    margin: 0;
}

article ul::-webkit-scrollbar {
    display: none;
}

article {
    box-shadow: 2px 2px 2px 5px rgba(0, 0, 0, 0.2);
}

article .header {
    border: 2px solid black;
    padding: 0 10px;
    height: 20%;
}

article[id="groceriesList"] ul {
    list-style-type: none;
    padding: 0;
    overflow: scroll;
    height: 80%;
}

article[id="groceriesList"] ul li {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
}

article[id="groceriesList"] ul li:hover {
    background-color: rgba(125, 119, 119, 0.2);
}

.notifications {
    margin: 0;
}




